<!DOCTYPE html>
<html>
    <head>
        <title>Kibur Blogg</title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Kibur node</h1></a>
                <p>Kibur site </p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New</a></li>
            </ul>

            <div class="blogs content">
                <h2>All Blogs are down below here</h2>
            </div>
        </nav>
    </body>
    

</html>